:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --main-font-weight: 400;
  --main-font-size: 16px;
  --main-line-height: 1.5;
  --main-letter-spacing: 0.02em;
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --text-color-dark-theme: #f4f4fd;
  --white-color: #fff;
  --main-color: #4d5ae5;
  --accent-color: #404bbf;
  --animation-duration-time-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
  color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--white-color);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
}
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

/* _____HEADER_____ */
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-box {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.logo-light-theme {
  color: var(--secondary-text-color);
}
.logo-dark-theme {
  color: var(--text-color-dark-theme);
}
.nav-list {
  margin-left: 120px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .adress-list {
    display: none;
  }
  .mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    border: none;
    background-color: transparent;
  }
  .mobile-menu-icon {
    fill: var(--secondary-text-color);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .is-open {
    display: block;
    opacity: 1;
    pointer-events: all;
  }
  .mibile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color var(--animation-duration-time-func),
      border-color var(--animation-duration-time-func);
  }

  .mibile-menu-close-btn:hover,
  .mibile-menu-close-btn:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .close-icon {
    transition: fill var(--animation-duration-time-func);
  }
  .modal-close-btn:hover .close-icon,
  .modal-close-btn:hover .close-icon {
    fill: var(--white-color);
  }
  .mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-text-color);
  }
  .mobile-menu-active-page {
    color: var(--accent-color);
  }
  .mobile-menu-adress-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }
  .mobile-menu-tel-link {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
  }
  .mobile-menu-mail-link {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
  .mobile-menu-social-icon-list {
    display: flex;
    align-items: center;
    gap: 16px 56px;
    flex-wrap: wrap;
  }
}
.nav-list-link {
  font-weight: 500;
  color: var(--secondary-text-color);
  transition: color var(--animation-duration-time-func);
}
.active-page {
  position: relative;
  color: var(--accent-color);
  transition: color var(--animation-duration-time-func);
}
.active-page::after {
  position: absolute;
  bottom: -24px;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.adress-list-item {
  display: flex;
}
.adress-list-link {
  font-style: normal;
  color: var(--main-text-color);
  transition: color var(--animation-duration-time-func);
}
.adress-list-link:hover,
.adress-list-link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header {
    padding: 16px 0;
  }
  .adress-list-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
  .adress-list {
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }
}

/* _____ HERO_____ */
.hero-section {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--secondary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mobile-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mobile-hero-bg@2x.jpg);
  }
}

.hero-btn {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--main-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation-duration-time-func);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-hero-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tablet-hero-bg@2x.jpg);
    }
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desktop-hero-bg.jpg);
    max-width: 1440px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/desktop-hero-bg@2x.jpg);
    }
  }
}

/* _____ABOUT US_____ */

.about-icon-box {
  display: none;
}

@media screen and (max-width: 767px) {
  .about-mobile-subtitle {
    text-align: center;
  }
  .about-list-item {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .about-list-item {
    width: 356px;
  }
}

@media screen and (max-width: 1157px) {
  .about-mobile-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
  .about-list-item > p {
    font-weight: 500;
  }
}
@media screen and (min-width: 1158px) {
  .about-list {
    justify-content: space-between;
  }
  .about-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .about-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    background-color: var(--text-color-dark-theme);
    margin-bottom: 8px;
  }
}

/* _____CREATION_____ */
@media screen and (max-width: 1157px) {
  .creation-section {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .creation-section {
    padding-bottom: 120px;
  }
  .creation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* _____TEAM_____ */
.team-section {
  background-color: var(--text-color-dark-theme);
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-list-item {
  background-color: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item-descr-box {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-item-descr-box > p {
  margin-bottom: 8px;
}
.social-icon-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: background-color var(--animation-duration-time-func);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-icon {
  fill: var(--text-color-dark-theme);
}
@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

/* _____CUSTOMERS_____ */
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  transition: border-color var(--animation-duration-time-func);
}
.customers-icon {
  fill: #8e8f99;
  transition: fill var(--animation-duration-time-func);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
  .customers-link {
    width: 168px;
  }
}
/* _____FOOTER_____ */
.footer {
  background-color: var(--secondary-text-color);
}
.footer-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}
.footer-content-box-upper-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.footer-logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 268px;
}
.footer-descr {
  color: var(--text-color-dark-theme);
}
.footer-social-box > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
  transition: background-color var(--animation-duration-time-func);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-form-box > p {
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-color);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-form-input::placeholder {
  color: var(--white-color);
}
.footer-form-input:focus {
  border-color: #31d0aa;
  outline: transparent;
}
.footer-form-input:focus + .footer-form-label,
.footer-form-input:not(:placeholder-shown) + .footer-form-label {
  transform: translateY(-42px) translateX(-16px);
}

.footer-form-btn {
  position: relative;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}
.footer-form-btn-icon {
  margin-left: 16px;
  fill: var(--white-color);
}
@media screen and (max-width: 767px) {
  .footer-social-box > p {
    text-align: center;
  }
  .footer-form-box > p {
    text-align: center;
  }
  .footer-form {
    flex-direction: column;
    gap: 16px;
  }
  .footer-form-box,
  .footer-form-label,
  .footer-form-input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo-box {
    align-items: flex-start;
  }
  .footer-content-box-upper-part {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
  .footer-content-wrapper {
    align-items: flex-start;
  }
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-content-wrapper {
      width: 552px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-content-box-upper-part {
    gap: 120px;
  }
}
/* _____PORTFOLIO_____ */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-button {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.04em;
  color: var(--main-color);
  background-color: var(--text-color-dark-theme);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--animation-duration-time-func),
    background-color var(--animation-duration-time-func),
    border var(--animation-duration-time-func),
    box-shadow var(--animation-duration-time-func);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio-list-item-descr {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
  color: var(--main-text-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow var(--animation-duration-time-func);
}
.portfolio-list-item:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-descr-box {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 32px;
  color: var(--text-color-dark-theme);
  background-color: var(--main-color);
  transition: transform var(--animation-duration-time-func);
}

.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
  transform: translateY(0%);
}
/* _____MODAL_____ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--animation-duration-time-func),
    visibility var(--animation-duration-time-func);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  overflow: auto;
  max-width: 408px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color var(--animation-duration-time-func),
    border-color var(--animation-duration-time-func);
}
.modal-close-btn:hover,
.modal-close-btn:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.close-icon {
  transition: fill var(--animation-duration-time-func);
}
.modal-close-btn:hover .close-icon,
.modal-close-btn:hover .close-icon {
  fill: var(--white-color);
}

.modal-subtitle {
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 16px;
}

.form-label {
  display: block;
}
.form-label:not(:last-child) {
  margin-bottom: 8px;
}
.form-label:nth-last-child(2) {
  margin-bottom: 16px;
}
.form-label-wrapper {
  margin-bottom: 24px;
}
.label-descr {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.label-descr:not(:last-child) {
  margin-bottom: 4px;
}
.input-wrapper {
  position: relative;
  display: block;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color var(--animation-duration-time-func);
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--secondary-text-color);
  transition: fill var(--animation-duration-time-func);
}
.form-input:focus {
  border-color: var(--main-color);
}
.form-input:focus + .input-icon {
  fill: var(--main-color);
}
.form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  transition: border-color var(--animation-duration-time-func);
}
.form-textarea:focus {
  border-color: var(--main-color);
}
.form-textarea::placeholder {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.checkbox-label {
  display: flex;
  align-items: center;
}

.form-checkbox {
  appearance: none;
  position: absolute;
}
.scheckbox-icon {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color var(--animation-duration-time-func),
    border-color var(--animation-duration-time-func);
}
.form-checkbox:checked + .scheckbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.checkmark-icon {
  opacity: 0;
  fill: var(--text-color-dark-theme);
  transition: opacity var(--animation-duration-time-func);
}
.form-checkbox:checked + .scheckbox-icon > .checkmark-icon {
  opacity: 1;
}

.chekbox-link {
  line-height: 1.33;
  color: var(--main-color);
  transition: color var(--animation-duration-time-func);
}
.chekbox-link:hover,
.chekbox-link:hover {
  color: var(--accent-color);
}

.modal-btn {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--main-color);
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation-duration-time-func);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
@media screen and (max-width: 767px) {
  .modal {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 392px;
  }
}
